/*
Loaded google font:
font-family: 'Lobster', cursive;
*/

/* Basic styling */

html {
    min-height: 100%;
    background: rgb(35,213,205);
    background: linear-gradient(315deg, rgba(35,213,205,1) 0%, rgba(15,51,103,1) 89%);
}

body {
    color: white;
}

h1 {
    font-family: 'Lobster', cursive;
    margin: 1em;
    font-size: 5em;
    text-align: center;
}

.zip__holder {
    display: grid;
    grid-auto-rows: minmax(1.5em, auto);
    justify-content: center;
    grid-gap: 0.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    margin: 2em;
}

.feelings__holder {
    display: grid;
    grid-auto-rows: minmax(1.5em, auto);
    justify-content: center;
    grid-gap: 0.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    margin: 2em;
}

input {
    border-radius: 0.5em;
    border: 2px solid #00e6e6;
    font-size: 0.5em;
}

textarea {
    border-radius: 0.5em;
    border: 2px solid #00e6e6;
    font-size: large;
}

#generate {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    cursor: pointer;
    font-weight: 1000;
    font-size: xx-large;
    border-radius: 0.5em;
    border: 2px solid #00e6e6;
    background-color: transparent;
    padding: 0.5em;
}

/* removing the focus outlines */

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* dynamic UI element style */

#entryHolder {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    background: rgb(15,51,103,0.6);
    background: linear-gradient(0deg, rgba(15,51,103,0.95) 0%, rgba(35,213,205,0.85) 50%, rgba(15,51,103,0.95) 100%);
    border: 1px solid #00e6e6;
    border-radius: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding : 1.5em 1em;
    display: grid;
    grid-auto-rows: minmax(1.5em, auto);
    row-gap: 1em;
    display: none;
}

#close {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.55em;
    color: white;
    font-weight: bolder;
    top: 0.85em;
    right: 0.85em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#date,#temp,#data {
    margin: 0.75em
}
